/*---------------*\
      GENERAL
\*---------------*/

body {
    font-family: 'Lato', sans-serif, serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
ul,ol {
    list-style:none;
}
section {
    padding: 45px 0 80px 0;
}
section .heading {
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2 {
    text-transform: uppercase;
}
pre {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: monospace;
    white-space: pre-wrap;
}
pre code {
    white-space: pre-wrap;
}
.red-divider {
    width:100px;
    height: 2px;
    background: #F4511E;
    margin: 0 auto;
}
.white-divider {
    width:100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 4px;
    transition: all 0.4s ease-in;
    background: transparent;
}
.button1:hover {
    background: white;
    color: #F4511E;
    text-decoration: none;
}
.img-circle {
    border: 2px solid #F4511E;
}
#about{
    padding-bottom: 40px;
}
/*-------------*\
      MENU
\*-------------*/

.navbar {
    background: #393941;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: right;
}
.navbar li a {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #F4511E !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-style: none;
}
.icon-bar {
    background-color: #fff !important;
}
img:hover {
    width: 2%;
}

/*-----------*\
     ABOUT
\*-----------*/

#about {
    padding-top: 100px;
    background: darkslategrey;
}
.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1 {
    color:#fff;
    text-transform: uppercase;
}
#about .heading h3 {
    color:#000;
}

/*------------*\
     SKILLS
\*------------*/

#skills {
    background: #fff;
}
#skills .heading h2 {
    color: darkslategrey;
}
#skills .progress {
    height: 100%;
    margin: 30px 20px;
    background: rgb(238,238,238);
}
#skills .progress-bar {
    background: darkslategrey;
}
#skills .progress h5 {
    text-shadow: 2px 2px 2px #000;
}


/*-----------------*\
     EXPERIENCE
\*-----------------*/

#experience {
    background: darkslategrey;
}
#experience .heading h2 {
    color: white;
}
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:  " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li::after {
    clear: both;
}
.timeline > li::before, .timeline > li::after {
    content: " ";
    display: table;
}
.timeline li .timeline-badge {
    color:  #F4511E;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 35px;
}
.timeline-panel::after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top:  14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom:  14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4 {
    color: #F4511E;
}


/*----------------*\
     FORMATION
\*----------------*/

#education {
    background: #fff;
}
#education .heading h2 {
    color: darkslategrey;
}
.education-block {
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon {
    font-size: 40px;
}
.education-block h3 {
    color: #F4511E;
}
.education-block h4 {
    margin-bottom: 20px;
}
.education-block p {
    font-weight: bold;
}
.education-block .red-divider {
    margin-bottom: 20px;
}


/*----------------*\
     PORTFOLIO
\*----------------*/

#portfolio {
    background: darkslategrey;
}
#portfolio .heading h2 {
    color: #fff;
}
#portfolio .thumbnail img {
    width: 98%;
    height: 98%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail img:hover {
    filter: none;
    -webkit-filter: none;
    width: 100%;
    height:100%;

}
#portfolio .thumbnail:hover {
    -o-box-shadow: 2px 2px 15px 1px #343434;
    box-shadow: 2px 2px 15px 1px #343434;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
    z-index: 2;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    /*display: none;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    width: 70%;
}

.portfolio-modal {
    padding-right: 0 !important;
}

.portfolio-modal .modal-dialog {
    margin: 2rem auto;
    /*max-width: 100vw;*/
}

.portfolio-modal .modal-content {
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 10px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 10px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}


/*--------------------*\
     RECOMMANDATIONS
\*--------------------*/

#recommandations {
    background: #fff;
}
#recommandations .heading h2 {
    color: darkslategrey;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #F4511E;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators li {
    border-color: #F4511E;
}
.carousel-indicators li.active {
    background-color: #F4511E;
}
#myCarousel .item {
    padding: 40px 30px;
}
#myCarousel .item h3 {
    color: #F4511E;
    font-style: italic;
}

/*-----------------*\
     CONTACT
\*-----------------*/

#contact {
    background: darkslategrey;
}

#contact .heading h2
{
    color: #fff;
}

#contact-form
{
    font-size: 20px;
    color: #fff;
}
.form-control
{
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0;
    display: block;
}
.comments
{
    font-style: italic;
    color: #f00;
    height: 25px;
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}



/*----------------*\
       FOOTER
\*----------------*/

footer {
    background: #393941;
    /*padding: 20px 0 40px;*/
    padding-bottom: 25px;
}
footer .glyphicon {
    font-size:  25px;
    margin: 20px;
    color: #fff;
    height: 30px;
}
footer .glyphicon:hover {
    font-size:  30px;
}
footer h5 {
    color: #fff;
    font-weight: bold;
}


/*-----------------------------*\
        MEDIA QUERIES
\*-----------------------------*/

/* Si la fenêtre du navigateur est de 600px ou moins. */
@media only screen and (max-width: 600px) {
    .timeline-panel-container-inverted {
        width: 100%;
        margin-right: 30px;
    }
    .timeline-panel::after {
        display: none;
    }
    .timeline-panel-container {
        width: 100%;
    }
    .timeline::before {
        display: none;
    }
    .timeline .glyphicon {
        display: none;
    }
    .container {
        padding-left: 15px;
    }
    section .heading h2 {
        font-size: 25px;
    }
    #experience {
        padding-left: 40px;
    }
}

/* Si la fenêtre du navigateur est de 500px ou moins. */
@media only screen and (max-width: 500px) {
    .timeline-panel-container-inverted {
        margin-right: 40px;
    }
    section .heading h2 {
        font-size: 23px;
    }
}

/* Si la fenêtre du navigateur est de 457px ou moins. */
@media only screen and (max-width: 457px) {
    .timeline-panel-container-inverted {
        margin-right: 45px;
    }
    .container {
        margin-left: 10px;
    }
    section .heading h2 {
        font-size: 20px;
    }
}


/* Si la fenêtre du navigateur est de 340px ou moins. */
@media only screen and (max-width: 340px) {
    .timeline-panel-container-inverted {
        margin-right: 55px;
    }
}
